body{
    background-color: aqua;
}
#o1{
    color: darkorange;
}
#o2{
    color: dodgerblue;
}
.o3{
    color: black;
}
*{
    padding: 0%;
    margin: 0;
    color: floralwhite;
}
#navbar{
    height: 25px;
    background-color: black;
    

   
}
button{
    background-color: coral;
}
#logo{
    color: darkgoldenrod;
}
a{
   margin-right: 200px;
}

